<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script type="javascript" src="/layui/layui.js"></script>
    <script type="javascript" src="/js/core.util.js"></script>
    <style>
        .login {
            height: 190px;
            width: 340px;
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 4px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -150px 0 0 -150px;
            z-index: 99;
        }

        a {
            width: 300px;
        }
    </style>cd ../
</head>
<body>

</body>
<script>
    layui.use(['form'],function () {
        let layer = layui.layer;
        let form = layui.form;
    })
</script>
</html>